.conti-color
{
    color: #ffbe2e;
}
.login-size
{
    max-width: 500px;
    max-height: 500px;
}
.inline-center
{
    display: inline;
    vertical-align: center;

}
.background
{
    background-image: url("../Content/ressources/login-background-conti.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.font-app-title
{
    font-family:"Angsana New";
    font-size: 72px;
    font-style: italic;
    font-weight: bold;
    color: black;
}


